<section class="about" id="about">
  <div class="container">

    <h2>As simple as TikTok &nbsp;&nbsp; and cheaper than &nbsp;&nbsp; a tutoring session</h2>

    <div class="about-item">
      <div class="text-about item-one">
        <div class="number">1</div>
        <p>Send your problem: take a photo, copy & paste instructions or attach files.</p>
      </div>
      <img class="img-one" src="./img/arrow1.png" alt="arrow">

      <div class="item-two text-about">
        <div class="number">2</div>
        <p>Get a video with a solution explained in details within an hour!</p>
      </div>
      <img class="img-two" src="./img/arrow2.png" alt="arrow">

      <div class="item-three text-about">
        <div class="number">3</div>
        <p>Chat with your tutor for the next 24 hours to clarify any questions.</p>
      </div>
      <img class="img-three" src="./img/arrow3.png" alt="arrow">

    </div>

  </div>
</section>