<section class="benefits" id="benefits">
  <div class="container">
    <h2><span class="span">178 tutors</span> &nbsp;&nbsp; are online now and ready to help you ASAP!</h2>
    <p class="text">Tap to see our tutors in action!</p>
    <ul class="benefits-list">
      <li class="benefits-item">
        <p>Statistics</p>
        <img srcset="./img/1benefits.jpg 1x, ./img/1benefits-2x.jpg 2x"
        src="./img/1benefits.jpg"
        alt="image">
        <div class="item-wrap">
          <svg width="13" height="15">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
        </div>
      </li>
      <li class="benefits-item">
        <p>Chemistry</p>
        <img srcset="./img/2benefits.jpg 1x, ./img/2benefits-2x.jpg 2x"
        src="./img/2benefits.jpg"
        alt="image">
        <div class="item-wrap">
          <svg width="13" height="15">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
        </div>
      </li>
      <li class="benefits-item">
        <p>Economics</p>
        <img srcset="./img/3benefits.jpg 1x, ./img/3benefits-2x.jpg 2x"
        src="./img/3benefits.jpg"
        alt="image">
        <div class="item-wrap">
          <svg width="13" height="15">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>