<section class="container">
  <div class="better">
    <h3>Better than anything you’ve tried before</h3>
    <ul class="better-list">
      <li>
        <svg width="18" height="23">
          <use href="./img/sprite.svg#icon-fast"></use>
        </svg>
        <h4>Faster</h4>
        <p>No need to schedule and wait for live sessions with <br>tutors.</p>
      </li>
      <li>
        <svg width="24" height="21">
          <use href="./img/sprite.svg#icon-cheaper"></use>
        </svg>
        <h4>Cheaper</h4>
        <p>No need to pay for the whole hour to understand a small problem.</p>
      </li>
      <li>
        <svg width="22" height="22">
          <use href="./img/sprite.svg#icon-athand"></use>
        </svg>
        <h4>At hand</h4>
        <p>Get back to the video any time and chat with a tutor on the go.</p>
      </li>
    </ul>
  </div>
</section>