<section class="pricing" id="pricing">
  <div class="container">
    <h2 class="title-price">Choose your plan</h2>
    <ul class="list-price">
      <li class="item-price">
        <p class="text-price">Basic - $49/mo</p>
        <div class="item-text">
          <p>15 problems/mo included</p>
          <p>Then: $5/problem</p>
          <p>Private chat with tutor</p>
          <p>Unlimited access 24/7</p>
        </div>
        <button type="button" class="price-btn">Subscribe Now</button>
      </li>
      <li class="item-price">
        <p class="text-price">Pro - $99/mo</p>
        <div class="item-text">
          <p>35 problems/mo included</p>
          <p>Then: $4/problem</p>
          <p>Private chat with tutor</p>
          <p>Unlimited access 24/7</p>
        </div>
        <button type="button" class="price-btn">Subscribe Now</button>
      </li>
    </ul>
  </div>
</section>