<section class="problems">
  <div class="container">
    <h2>Submit as many problems as you need</h2>
    <h2 class="title">Your tutor will record &nbsp;&nbsp; a separate explanation &nbsp;&nbsp; for each!</h2>

    <ul class="problems-list">
      <li class="problems-item">
        <svg class="check-svg">
          <use href="./img/sprite.svg#icon-check-mark"></use>
        </svg>
        Up to 10-minute long video</li>
      <li class="problems-item">
        <svg class="check-svg">
          <use href="./img/sprite.svg#icon-check-mark"></use>
        </svg>
        Step by step problem solving</li>
      <li class="problems-item">
        <svg class="check-svg">
          <use href="./img/sprite.svg#icon-check-mark"></use>
        </svg>
        Done on digital whiteboard</li>
      <li class="problems-item">
        <svg class="check-svg">
          <use href="./img/sprite.svg#icon-check-mark"></use>
        </svg>
        Voice comments from a tutor</li>
    </ul>

  </div>
</section>